@font-face {
    font-family: 'VG5000', sans-serif ;
    src: url(styles/VG5000/VG5000-Regular_web.woff2); 
  }

  body
  {	
      width:80%;
      max-width: 800px;
      margin-left:auto;
      margin-right:auto;
      
  }
  
  blockquote p {
    font-size: 16px;
    font-family: 'VG5000', Arial, sans-serif;
    width:60%;
  }
  
  blockquote p::before {
    content: '\201C';
  }
  
  blockquote p::after {
    content: '\201D';
  }

  blockquote.green {
    color: #306850;
    text-shadow : #86c06c 0px 1px 2px;
  }

  a:link{
    color: MediumPurple;
    text-shadow : Thistle 0px 1px 4px;
  }
  
  a:visited{
    color: MediumPurple;
    text-shadow : Thistle 0px 1px 4px;
  }
  
  a:hover{
    color: BlueViolet;
    text-shadow : Thistle 0px 5px 10px;
  }

  a:link.green{
    color: #306850;
    text-shadow : #86c06c 0px 1px 4px;
  }
  
  a:visited.green{
    color: #306850;
    text-shadow : #86c06c 0px 1px 4px;
  }
  
  a:hover.green{
    color: #071821;
    text-shadow : #306850 0px 5px 10px;
  }

  summary {
    font-size: 20px;
    font-family: 'VG5000', Arial, sans-serif;
    text-decoration: underline;
  }
  
  h1 {
    font-size: 24px;
    font-family: 'VG5000', Arial, sans-serif;
  }

  h2 {
    font-size: 20px;
    font-family: 'VG5000', Arial, sans-serif;
  }

  h3 {
    font-size: 18px;
    font-family: 'VG5000', Arial, sans-serif;
  }

  p {
    font-size: 16px;
    font-family: 'VG5000', Arial, sans-serif;
  }

  footer {
    font-size: 12px;
    font-family: 'VG5000', Arial, sans-serif;    
  }


  /*
  GB palette : 
  #071821
  #306850
  #86c06c
  #e0f8cf
  */